@import url(http://fonts.googleapis.com/css?family=Terminal+Dosis);

		.nav-glyphish-example .ui-btn .ui-btn-inner { padding-top: 40px !important; }
		.nav-glyphish-example .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
		#home .ui-icon { background:  url(glyphish-icons/53-house.png) 100% 50% no-repeat; background-size: 24px 22px; }
		#key .ui-icon { background: url(glyphish-icons/radar.png) 50% 50% no-repeat; background-size: 12px 26px; }
		#email .ui-icon { background:  url(glyphish-icons/18-envelope.png) 50% 50% no-repeat; background-size: 24px 16px;  }
		#login .ui-icon { background:  url(glyphish-icons/30-key.png) 50% 50% no-repeat;  background-size: 12px 26px; }
		#beer .ui-icon { background:  url(glyphish-icons/88-beermug.png) 50% 50% no-repeat;  background-size: 22px 27px; }
		#coffee .ui-icon { background:  url(glyphish-icons/100-coffee.png) 50% 50% no-repeat;  background-size: 20px 24px; }
		#skull .ui-icon { background:  url(glyphish-icons/21-skull.png) 50% 50% no-repeat;  background-size: 22px 24px; }
		#calendar .ui-icon { background:  url(glyphish-icons/83-calendar.png) 100% 50% no-repeat; background-size: 24px 22px; }
		#rss .ui-icon { background:  url(glyphish-icons/bigrss.png) 100% 50% no-repeat; background-size: 27px 25px; }
		#map .ui-icon { background:  url(glyphish-icons/radar.png) 100% 50% no-repeat; background-size: 26px 24px; }
		#players .ui-icon { background:  url(glyphish-icons/112-group.png) 100% 50% no-repeat; background-size: 26px 24px; }


.calendar-item {
	font-family:'Terminal Dosis', Arial, sans-serif;
	width:90%;
	height:60px;
	background-color:#083242;
	color:white;
	border-radius:10px;
	padding:5px 50px;
	margin:10px;
}

.more-game-info {
	font-size:13px;
	width:300px;
	margin-left: auto;
    margin-right: auto;
}

.home-team-logo {
	border-radius:20px;
	width:50px;
	height:50px;
	padding:5px;
	float:left;
}

.away-team-logo {
	border-radius:20px;
	width:50px;
	height:50px;
	padding:5px;
	float:right;
	position:relative;
	top:-80px;
}

.game-date {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
	font-size:14px;
	font-family:'Terminal Dosis', Arial, sans-serif;
	top:-35px;
	<!--position:relative;-->
	left:70px;
}

.team-name {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
	font-size:14px;
	font-family:'Terminal Dosis', Arial, sans-serif;
	top:-35px;
	position:relative;
	left:70px;
}

.league-selectors {
	margin-left: auto;
    margin-right: auto;
	width:400px;
}

.league-icon-container {
	padding:10px 10px;
}

.league-icon {
	height:60px;
	opacity:0.3;
}

.team-item-subscribed {
	font-family:'Terminal Dosis', Arial, sans-serif;
	width:90%;
	height:60px;
	background-color:#108631;
	color:white;
	border-radius:10px;
	padding:5px 10px;
	margin:10px;
}
.team-item-subscribed:hover {
	background:#18ca4a;
	color:white;
}
.team-item-subscribed:active {
	background:#9C2a00;
	color:white;
}

.team-item-special {
	font-family:'Terminal Dosis', Arial, sans-serif;
	width:90%;
	height:60px;
	border-radius:10px;
	padding:5px 10px;
	margin:10px;
	color:black;
	border:1px solid black;
}
.team-item-special:hover {
	background:#404040;
	color:white;
}
.team-item-special:active {
	background:black;
	color:white;
}

.team-item-unsubscribed {
	font-family:'Terminal Dosis', Arial, sans-serif;
	width:90%;
	height:60px;
	background-color:#9C2A00;
	color:white;
	border-radius:10px;
	padding:5px 10px;
	margin:10px;
}
.team-item-unsubscribed:hover {
	background:#e93f00;
	
	color:white;
}
.team-item-unsubscribed:active {
	background:#108631;
	color:white;
}

.info_header {
	font-family:'Terminal Dosis', Arial, sans-serif;
	font-size:16px;
	color:#9C2A11;
    float: left;
}

.info_header_alt {
	font-family:'Terminal Dosis', Arial, sans-serif;
	font-size:16px;
	color:#083242;
}


.button-link-add {
    color: #FFF;
    -webkit-border-radius: 4px;
    border: solid 1px #20538D;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
	font-size:14px;
}

.button-link-special {
    color: black;
    -webkit-border-radius: 4px;
    border: solid 1px #20538D;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
	font-size:14px;
}

.button-link-special:hover {
    background: #909090;
    border: solid 1px #2A4E77;
    text-decoration: none;
	color:white;
}
.button-link-special:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    border: solid 1px #708090;
	color:white;
	background:black;
}

.button-link-add:hover {
    background: #909090;
    border: solid 1px #2A4E77;
    text-decoration: none;
	color:white;
}
.button-link-add:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    border: solid 1px #708090;
	color:black;
}
